<div class="container review-slider">
  <div class="tittle-head">
    <h3 class="tittle"><%= t(".featured_albums") %><span class="new"><%= t(".new") %></span></h3>
    <div class="clearfix"> </div>
  </div>
  <ul id="flexiselDemo1">
    <% @artists.each do |artist| %>
      <%= render artist %>
    <% end %>
  </ul>
</div>
<div class="clearfix"></div>
